{% extends 'base1.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% for flash_message in app.flashes('error') %}
    <script>
        Swal.fire({
            icon: "error",
            title: "Erreur",
            text: "{{ flash_message }}",
        });
    </script>
{% endfor %}




<section id="search">

  <form id="reservationForm" action="{{ path('app_reservation') }}" method="post" onsubmit="return validateForm()">

      <div class="start-containt">
          <label for="start" class="start">Date d'arrivée</label>
          <input type="text" id="start" class="start-input" name="start" required placeholder="Sélectionnez votre date d'arrivée" data-reserved-dates="{{ reservedDates }}">
      </div>

      <div class="end-containt">
          <label for="end" class="end">Date de départ</label>
          <input type="text" id="end" class="end-input" name="end" required placeholder="Sélectionnez votre date de départ" data-reserved-dates="{{ reservedDates }}">
      </div>



  <div class="person-containt">

<div class="adult">
    <label for="numberAdult" class="numberAdult">Adulte</label>
    <div class="action">
        <p class="decrement"><i class="fa-solid fa-circle-minus"></i></p>
        <input type="number" id="numberAdult" class="inputPerson" name="numberAdult" value="1" min="1" max="6" readonly>
        <p class="increment"><i class="fa-solid fa-circle-plus"></i></p>
    </div>
</div>
<div class="kid">
    <label for="numberKid" class="numberKid">Enfant</label>
    <div class="action">
        <p class="decrement"><i class="fa-solid fa-circle-minus"></i></p>
        <input type="number" id="numberKid" class="inputPerson" name="numberKid" value="0" min="0" max="5" readonly>
        <p class="increment"><i class="fa-solid fa-circle-plus"></i></p>
    </div>
</div>    
<div class="person">
    <label for="totalPerson" class="labelPerson">Voyageurs</label>
    <div class="action">
        <input type="number" id="totalPerson" class="inputPerson" value="1" min="1" max="6" readonly>
    </div>
    
</div> 

  </div>

      <div class="submit-containt">
          <input type="submit" class="btn search" value="Réserver">
      </div>

  </form>
  
</section>


    <section id="gite">
            <div class="gite-contain">

    <div class="background-image"></div>


               

                <div class="description-and-picture">
             <div class="title gite-title">
                    <h1>le gîte</h1>
                </div>
                    <p class="gite-description">Bienvenue au Gîte du Rain du Pair, 
                    un havre de paix situé dans un ancien corps de ferme récemment rénové, perché sur les hauteurs d'Orbey, en Alsace. 
                    <br><br>
                    Notre gîte offre une expérience exceptionnelle tout au long de l'année, que ce soit pour les plaisirs de l'hiver 
                    à proximité de la station de ski du Lac Blanc, les aventures estivales le long de la Route des Crêtes 
                    et des vignobles alsaciens, ou simplement pour une retraite paisible au cœur de la nature.</p>
                    <figure class="giteFigure">
                        <img class="picture01" src="img/cuisine01.jpg" alt="Photos du séjour du gîte"/>
                    </figure>
                
    
                    
                </div>


            </div>

        <div class="banner">
            <div class="icons">
                <div class="icon">
                    <p class="banner-icon"><i class="fa-solid fa-bath"></i></p>
                    <p class="banner-p">Bain nordique</p>
                </div>
                <div class="icon">
                    <p class="banner-icon"><i class="fa-solid fa-bed"></i></p>
                    <p class="banner-p">Linge de maison inclus</p>
                </div>
            <div class="icon">
                <p class="banner-icon"><i class="fa-solid fa-wifi"></i></p>
                <p class="banner-p">Wifi gratuit</p>
            </div>
            <div class="icon">
                <p class="banner-icon"><i class="fa-solid fa-square-parking"></i></p>
                <p class="banner-p">Parking privé</p>
            </div>
            </div>
        </div>

        <div class="caracteristique">

            <div class="caracteristique-right">
                <h2>Caractéristique du logement</h2>
                <p class="caracteristique-p">Réparti sur deux étages, le logement offre un espace confortable pouvant accueillir jusqu'à 6 personnes. 
                    Au rez-de chaussée, vous profiterez d’une cuisine entièrement équipée ouverte sur le séjour, ainsi qu’un wc séparé. 
                    À l’étage, vous trouverez deux chambres élégamment aménagées, 
                    chacune avec sa propre salle d'eau attenante pour plus d'intimité et un wc séparé.
                    L'intérieur est chaleureux, accueillant et décoré avec soin pour vous offrir un séjour agréable et authentique.</p>
                <figure class="figure-picture02">
                    <img src="img/EXTERIEUR01.jpg" alt="" class="picture02"/>
                </figure>
            </div>
            <div class="caracteristique-left">                
                <figure class="figure-picture03">
                    <img src="img/sejour01.jpg" alt="" class="picture03"/>
                </figure>
                <figure class="figure-picture04">
                    <img src="img/EXTERIEUR02.jpg" alt="" class="picture04"/>
                </figure>

                <p class="caracteristique-p">Notre terrasse privative qui offre une vue imprenable sur les montagnes environnantes et le village en contre bas. 
                    Vous pourrez vous détendre dans notre bain finlandais extérieur chauffé au feu de bois, une expérience relaxante dans un petit coin de paradis en plein air.<br>
                    Notre gîte dispose d'un parking privatif pour votre véhicule, du Wi-Fi pour rester connecté, et  d'un petit garage fermé pour y laisser en toute sécurité vos vélos.</p>

            </div>

        </div>
 </section>


         <div class="banner2">
            <p class="banner2-p">Que vous veniez en couple, en famille ou entre amis,<br>
            "Le Rain du Pair" est l'endroit idéal pour passer des moments inoubliables.<br>
            Laisser-vous séduire par l'authenticité et le charme de ce refuge cosy.</p>
        </div>
            
   

    <section id="galerie">
        <div class="galerie-contain">
            <div class="title">
                <h1>Galerie</h1>
            </div>

            <div class="categories"> 
            {% for categoryName, firstPicture in categoryFirstPictures %}

             {# Générez une classe unique en ajoutant le compteur à la classe 'category' #}
            {% set categoryClass = 'category-' ~ loop.index %}
                <div class="{{ categoryClass }}">
                    <a class="hover-link" href="{{ path('show_category', {'id': firstPicture.getCategory().getId()}) }}">
                    <figure class="categoryFigure">
                        <figcaption class="titleGalerie">{{ categoryName }}</figcaption>
                        <img class="categoryImg" src="{{ firstPicture.getUrl() }}" alt="">
                        <p class="voirPlus"><i class="fa-solid fa-magnifying-glass-plus"></i> Voir plus</p> 
                    </figure>
                    </a>
                </div>
            {% endfor %} 
            </div>

        </div>

</section>
    <section id="alentours">
        <div class="alentours-containt">
            <div class="title">
                <h2>Aux alentours</h2>
            </div> 
    </section>

    <section id="actualites">
        <div class="actualites-containt">
            <div class="title">
                <h2>Actualités</h2>
            </div> 
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% block javascript %}


<script>

// AFFICHAGE DU CALENDRIER DANS LA BARRE DE RECHERCHE

// recherche des éléments HTML
  const startInput = document.getElementById("start");
  const endInput = document.getElementById("end");
  
  // On récupère les dates déjà réservées depuis l'attribut "data-reserved-dates" 
  const reservedDatesDataStart = startInput.getAttribute("data-reserved-dates");
  const reservedDatesDataEnd = endInput.getAttribute("data-reserved-dates");
  // On analyse cette chaîne JSON en objet JS
  const reservedDatesStart = JSON.parse(reservedDatesDataStart);
  const reservedDatesEnd = JSON.parse(reservedDatesDataEnd);


    // Configuration du calendrier pour le champs date d'arrivée
    const startPicker = flatpickr(startInput, {
    altInput: true,
    altFormat: "j F Y",
    dateFormat: "Y-m-d",
    minDate: "today",
    locale: {
      firstDayOfWeek: 1,
      weekdays: {
        shorthand: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
        longhand: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"]
      },
      months: {
        shorthand: ["Jan", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Déc"],
        longhand: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"]
      },
    }, 
    disable: reservedDatesStart.map(date => ({
        from: date.arrivalDate,
        // On enlève un jour à la date de départ afin qu'elle reste disponible pour une autre arrivée
         to: date.departureDate
      })),
      plugins: [new rangePlugin({ input: endInput })], 
      
  });

    // Configuration du calendrier pour le champs date de départ
    const endPicker = flatpickr(endInput, {
    altInput: true,
    altFormat: "j F Y",
    dateFormat: "Y-m-d",
    minDate: startInput.value,   
     locale: {
      firstDayOfWeek: 1,
      weekdays: {
        shorthand: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
        longhand: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"]
      },
      months: {
        shorthand: ["Jan", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Déc"],
        longhand: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"]
      }
    },
   disable: [
        {
            from: startInput.value,
            to: startInput.value
        },
        {
          ...reservedDatesEnd.map(date => ({
          from: date.arrivalDate,
          to: date.departureDate
          })),
        }
   ],
       plugins: [new rangePlugin({ input: startInput })],

  });


  // Gestionnaire d'événements pour le champ de date d'arrivée
startInput.addEventListener("change", function() {
  const arrivalDate = new Date(startInput.value);
  const departureDate = new Date(endInput.value);

  // Vérifiez si la date d'arrivée est postérieure à la date de départ
  if (arrivalDate > departureDate) {
    // Affichez un message d'erreur ou réinitialisez la date de départ
       // Utilisez Swal à la place de l'alerte native
    Swal.fire({
      icon: "error",
      title: "Erreur",
      text: "La date d'arrivée ne peut pas être postérieure à la date de départ.",

    });

    // Réinitialisez la date de départ (vous pouvez également choisir de gérer cette situation différemment)
    endInput.value = "";
  }
});

// Gestionnaire d'événements pour le champ de date de départ
endInput.addEventListener("change", function() {
  const arrivalDate = new Date(startInput.value);
  const departureDate = new Date(endInput.value);

  // Vérifiez si la date de départ est antérieure à la date d'arrivée
  if (departureDate < arrivalDate) {
    // Affichez un message d'erreur ou réinitialisez la date de départ
        // Utilisez Swal à la place de l'alerte native
    Swal.fire({
      icon: "error",
      title: "Erreur",
      text: "La date de départ ne peut pas être antérieure à la date d'arrivée.",
     
    });
    // Réinitialisez la date de départ (vous pouvez également choisir de gérer cette situation différemment)
    endInput.value = "";
  }
});

</script>




{% endblock %}


{% endblock %}
