{% extends 'base.html.twig' %}

{% block title %}Hello PictureController!{% endblock %}

{% block body %}
    <div class="title gite-title center">
          <h1> {{ category }} </h1>
    </div>



    {# div des messages flash #}
    <div class="alert">
        {% for flashMessage in app.flashes('success') %}
        <p class="alert-success">{{ flashMessage }}</p>
        {% endfor %}
        {% for flashMessage in app.flashes('error') %}
        <p class="alert-danger">{{ flashMessage }}</p>
        {% endfor %}
    </div>

<div class="gallery">

    {% for picture in pictures %}
            <div class="gallery-item">

        <img src="{{ asset(picture.url )}}" alt=" {{ picture.description }}"><br>
        <p><a href="{{ path ('edit_picture', {'id': picture.id, 'category_id': category.id}) }}" class="btn edit"><i class="fa-regular fa-pen-to-square"></i></a></p>
            {# <p><a href="{{ path ('delete_picture', {'id': picture.id}) }}" class="btn delete">Supprimer une photo</a></p> #}
      </div>
   

 
 {% endfor %}
</div>
     <div class="btnRight">
        <button class="btn add categoryBtnAdd"><a href="{{ path ('new_picture') }}" class="btn add">Ajouter une image</a></button>
    </div>
{% endblock %}